@page
@model SynopticForecastWebsite2.Pages.ForecastsModel
@{
    ViewData["Title"] = "Forecasts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section Styles
{
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        tr {
            display: block;
            float: left;
        }

        th, td {
            display: block;
            border: 1px solid black;
        }
    </style>
}

<h1>Forecasts</h1>

<h2>City - CityCode</h2>
<h3 style="font-style:italic">From: TimeStart to TimeEnd</h3>

<form>
    <table class="table table-bordered">
        <tr>
            <th>&nbsp;</th>
            <th>Minimum Temperature (C)</th>
            <th>Maximum Temperature (C)</th>
            <th>Surface Temperature (C)</th>
            <th>Surface Dewpoint (C)</th>
            <th>Surface Wind Direction (deg)</th>
            <th>Surface Wind Speed (kts)</th>
            <th>Surface Wind Speed Maximum (kts)</th>
            <th>Sea Level Pressure (mb)</th>
            <th>Cloud Cover</th>
            <th>Cloud Ceiling</th>
            <th>Visibility</th>
            <th>Observed Weather</th>
            <th>Probability of Precipitation</th>
            <th>Precipitation Category</th>
            <th>Precipitation Type</th>
            <th>Snow Accumulation</th>
            <th>Thunderstorms</th>
            <th>Severe Weather</th>
            <th>Frontal Passage</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>Edit</td>
        </tr>
    </table>
</form>