@page
@model SynopticForecastWebsite2.Pages.SchedulingAddModel
@{
    ViewData["Title"] = "SchedulingAdd";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section Styles
{
    <style type="text/css">
    </style>
}

<h1>Add New Forecast Period</</h1>

<!--

<form method="post">
    <table class="table table-bordered">
        <tr>
            <td>City Name</td>
            <td><input type="text" asp-for="City" /></td>
        </tr>
        <tr>
            <td>City Code</td>
            <td><input type="text" asp-for="CityID" /></td>
        </tr>
        <tr>
            <td>Initial Time (UTC)</td>
            <td><input type="datetime-local" asp-for="StartingTimeUTC" /></td>
        </tr>
        <tr>
            <td>Forecast Contest Open Time (Local)</td>
            <td><input type="datetime-local" asp-for="OpenTimeUTC" /></td>
        </tr>
        <tr>
            <td>Forecast Contest Closing Time (Local)</td>
            <td><input type="datetime-local" asp-for="ClosedTimeUTC" /></td>
        </tr>
    </table>
</form>
 -->
